<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>271085088199-n2s06bfqdguq0731ea29f8vts0r5nrdk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.271085088199-n2s06bfqdguq0731ea29f8vts0r5nrdk</string>
	<key>API_KEY</key>
	<string>AIzaSyB8Q-OGYrEK7aiKoTk4p1l36i98fkXjcOM</string>
	<key>GCM_SENDER_ID</key>
	<string>271085088199</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.whe</string>
	<key>PROJECT_ID</key>
	<string>flutter4lesson</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter4lesson.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:271085088199:ios:3295a3df1db67896a2fde2</string>
</dict>
</plist>